
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&family=Playfair+Display:wght@800&family=Sacramento&display=swap');



/*-------------------------------------------------------------------------------- GENERAL */

body{
    font-family:"Noticia Text", sans-serif;
    background-color:#fffcf7;
}
.heading{
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
}
.rounded {
    border-radius:25px!important;
}
.shadow{
    box-shadow: 5px 5px 10px #cecece;
}
.green-bg{
background: rgb(192,205,183);
background: linear-gradient(90deg, rgba(192,205,183,1) 0%, rgba(217,230,208,1) 50%, rgba(192,205,183,1) 100%);
}
/*--------------------------------------------------------------------------------- NAVBAR */
.navbar-brand{
    font-family:"Playfair Display", serif;
    font-size:1.7rem;
    color:#5a5a5a!important;
}
.nav-item a{
    text-transform:uppercase;
    font-size:1.2rem;
}
.navbar{
    padding:0;
}
.nav-link .active{
    font-weight:800;
}
.navbar button{
    border:0;
}
.header-nav{
    border-bottom:2px solid #5a5a5a;
}

/*------------------------------------------------------------------- HERO IMAGE & CALLOUT */
.hero-callout-outer{
    background: rgb(184,196,176) url(../images/hero-image.jpg) bottom right/ cover no-repeat ;
    height:500px;   
}

.callout{
    background-color:rgb(164 184 163 / 97%);
    border-radius:10px;
    border:1px solid #5a5a5a;
}

.btn-success {
    color: #fff;
    background-color: rgb(123 140 123);
    border-color: #5a5a5a;
    font-size:130%;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus{
    background-color: rgb(100 114 100);
    border-color: #5a5a5a;
    box-shadow: 0 0 0 0.25rem rgb(100 114 100 / 30%);
    }

/*---------------------------------------------------------------------------------- ABOUT */
.about-image-outer{
    height:160px;
    background: rgb(184,196,176) url(../images/about-main-image.jpg) bottom center/ cover no-repeat ;
}
.royce-quotes{
    color:#5a5a5a;
    font-size:40%;
}
.royce-text{
    font-size:200%;
    background:#f1f1f1;
    padding:10px 0;
    border-radius:15px;
    font-family:"Sacramento", cursive;
}
/*------------------------------------------------------------------------ MEDIA QUERIES */

/* SCREENS SIZE XXL AND LARGER */
@media screen and (min-width:1400px){
    .callout{
        margin-top:40px;
    }
    .hero-callout-outer{
        height:700px;
    }
    .navbar-brand{
        font-size:2.2rem;
    }
    .nav-item a {
        font-size:1.4rem;
    }
}
/* SCREENS SIZE XL TO XXL */
@media screen and (min-width:1201px) and (max-width:1400px){
    .callout{
        margin-top:25px;
    }
    .hero-callout-outer{
        height:540px;
    }

}
/* SCREEN SIZE SM TO XL */
@media screen and (min-width:577px) and (max-width:1200px){
    .callout{
        margin-top:25px;
    }
}
/* UP TO SCREEN SIZE SM */
@media screen and (max-width:576px){
    .callout{
        margin-top:5vw;
    }
    .header-nav a{
        text-align:end;
        margin-right:10px;
    }
}

/* SCREEN SIZE MD AND LARGER */
@media screen and (min-width:768px){
    .gallery-carousel img {
    border-radius:25px;
}
    .about-image-outer{
        height:300px;
    }
}
/* SCREEN SIZE SM TO MD */
@media screen and (min-width:576px) and (max-width:767px){
    .about-image-outer{
        height:250px;
    }
}
/* SCREEN SIZE XL to XXL */
@media screen and (min-width:1200px) and (max-width:1399px){
    .about-image-outer{
        height:350px;
    }
}

@media screen and (min-width:1400px){
    .about-image-outer{
        height:600px;
    }
}
/* @keyframes image-zoom {
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.05);
    }
} */


/*--------------------------------------------------------------------------- TESTIMONIALS */

.quotes {
    color:#5a5a5a;
    }
.quotes-white{
    font-size:200%;
    color:white;
    }
.spacer{
    width:30px;
    height:auto;
}
/*--------------------------------------------------------------------------------- FOOTER */
footer{
    background: #fffcf7;
}
footer .navbar-nav{
    flex-direction:row;
}
.sm-icons{
    font-size:150%;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    color:#5a5a5a;
    background-color:#cecece;
    padding:8px 0;
    line-height:10px;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.sm-icons:hover{
    background-color:rgb(192,205,183);
    color:#5a5a5a;
}


/*--------------------------------------------------------------------- BACKGROUND TESTERS */
.redbg{
    background-color:red;
}

.bluebg{
    background-color:blue;
}

.pinkbg{
    background-color:pink;
}

.greybg{
    background-color:rgb(164 184 163);
}

/*-------------------------------------------------------------------- HOVER.CSS Modifiers */
.hvr-underline-from-center:before {
    bottom:20%;
    background:#5a5a5a;
    height:2px;
    margin:0 8px;
}
/*------------------------------------------------------------------- ANIMATE.CSS Modifiers */
.animate__animated.animate__fadeInLeft{
    --animate-duration: 2000ms;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 3000ms;
}