@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Playfair+Display:wght@400&family=Italianno&display=swap');
/* ----------GENERAL---------- */
body{
    font-family:"Raleway", sans-serif;
    background-color:#fffcf7;
    color:#3B3B3B;
}
.main-bg{
    background: #b8cdb7;
    background: -o-linear-gradient(left, #b8cdb7 0%, #c8d4c8 50%,  #b8cdb7 100%);
    background: -webkit-gradient(linear, left top, right top, from(#b8cdb7), color-stop(50%, #c8d4c8),  to(#b8cdb7));
    background: linear-gradient(90deg, #b8cdb7 0%, #c8d4c8 50%,  #b8cdb7 100%);
}
/* Below code relating to h2 is from 
https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
h2 {
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
    letter-spacing:1px;
    overflow: hidden;
    text-align: center;
    margin:20px 0 20px 0;
}
h2:before,
h2:after {
    background-color: #3b3b3b;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h2:before {
    right: 0.3em;
    margin-left: -50%;
}
h2:after {
    left: 0.3em;
    margin-right: -50%;
}
h3{
    font-size:1.4rem;
    font-weight:300;
}
h4{
    font-size:1.0rem;
    font-weight:300;
}

/* ----------NAVBAR----------- */
.navbar-brand h1{
    font-family:"Playfair Display", serif;
    font-size:1.7rem;
    color:#3B3B3B!important;
    letter-spacing:2px;
}
.nav-item a{
    text-transform:uppercase;
    font-size:1.2rem;
}
.navbar{
    padding:0;
}
.header-nav{
    border-bottom:2px solid #3B3B3B;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-toggler{
    border:none;
}
.navbar-toggler:focus{
    -webkit-box-shadow:none;
            box-shadow:none;
}
.sticky-top{
    background-color:#fffcf7;
}

/* ----------FOOTER---------- */
footer{
    background: #fffcf7;
}
/* Code below relating to sm-icons was modified from the code
 demonstrated in the Code Institute CV mini-project */
.sm-icons{
    font-size:150%;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    color:#3B3B3B;
    background-color:#cecece;
    padding:8px 0;
    line-height:10px;
    margin:0 8px;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.sm-icons:hover{
    background-color:rgb(192,205,183);
}
footer a:hover{
    color:#3B3B3B;
}
.copyright-text{
    font-size:70%;
    text-align:center;
}
.copyright-text a {
    color:#3b3b3b;
}
footer address{
    margin-bottom:0;
}

/* ----------HERO IMAGE & CALLOUT---------- */
.hero-image{
    background: #b8cdb7 url(../images/hero-image.jp2) bottom right/ cover no-repeat ;
    height:500px;
}
.callout{
    background: #b8cdb7;
    background: -o-linear-gradient(top, #cfdacf, #b8cdb7);
    background: -webkit-gradient(linear, left top, left bottom, from(#cfdacf), to(#b8cdb7));
    background: linear-gradient(180deg, #cfdacf, #b8cdb7);
    border-radius:10px;
    border:1px solid #3B3B3B;
    -webkit-box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.5);
}
.btn-success {
    color:#3b3b3b;
    background-color: #E6E6E6;
    border:2px solid #3B3B3B;
    font-size:130%;
    font-weight:400;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus{
    background-color: rgb(100 114 100);
    border-color: #3B3B3B;
    -webkit-box-shadow: 0 0 0 0.25rem #0000004d;
            box-shadow: 0 0 0 0.25rem #0000004d;
}

/* ----------TESTIMONIALS---------- */
.quotes {
    color:#3B3B3B;
}
.testimonial-img {
    border-radius:20px;
}

/* ----------ABOUT---------- */
.about-lead-image{
    height:160px;
    background: #b8cdb7 url(../images/about-main-image.jp2) bottom center/ cover no-repeat ;
}
.royce-quotes{
    color:#3B3B3B;
    font-size:40%;
}
.royce-text{
    font-size:2.5rem;
        background: rgb(255 252 247 / 25%);
    padding:10px 0;
    border-radius:15px;
    font-family:"Italianno", cursive;
    -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.map-outer{
    height:400px;
    width:100%;
    overflow:hidden;
}
.map-inner{
    position:relative;
    top:-55px;
    border:none;
    height:470px;
    width:100%;
}

/* ----------CONTACT US---------- */
.contact-lead-image{
    height:160px;
    background: #b8cdb7 url(../images/rolls-church.jp2) bottom center/ cover no-repeat ;
}
.form-control{
    background-color:#fffcf7;
    border:1px solid #3B3B3B;
}
/* Code below to prevent broweser inserting an 
undesirable blue background when inputs autofilled
Code modified from https://stackoverflow.com/a/56629167 */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    box-shadow:0 0 0px 1000px #fffcf7 inset;;
     -webkit-box-shadow: 0 0 0px 1000px #fffcf7 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}
.form-control:focus{
    border-color: #3B3B3B;
    -webkit-box-shadow: 0 0 0 0.25rem #0000004d;
            box-shadow: 0 0 0 0.25rem #0000004d;
    background-color:#fffcf7;
}
.contact-details i{
    font-size:150%;
}
.contact-details a{
    font-size:170%;
    text-decoration:none;
    font-weight:500;
    color:inherit;
}
.required-asterisk{
    font-weight:700;
}

/* ----------MODAL---------- */
h3.modal-title{
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
    font-size:1.7rem;
    padding-bottom:15px;
}
.modal-content{
    border-radius:20px;
    background-color:#fffcf7;
    padding:10px;
}
.fa-check-circle{
    font-size:50px;
    transform: translate(-2px,-2px);
}
#modal-check{
    width:47px;
    height:47px;
    border-radius:50%;
    background-color: #b8cdb7;
    display:inline-block;
}

/* ----------CUSTOM CAROUSEL ICONS---------- */
.carousel-control-next, .carousel-control-prev{
    opacity:0.8;
}
.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-next:focus{
    opacity:1;
}
.carousel-control-prev-icon{
    background-image:url(../images/carousel-prev.png);
}
.carousel-control-next-icon{
    background-image:url(../images/carousel-next.png);
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    width:22px;
    height:22px;
}

/* ----------HOVER.CSS Modifiers---------- */
.hvr-underline-from-center:before {
    bottom:20%;
    background:#3B3B3B;
    height:1px;
    margin:0 8px;
}

/* ----------ANIMATE.CSS Modifiers---------- */
/* Code in this section was modified from the 
documentation section on https://animate.style/ */
.animate__animated.animate__fadeInLeft{
    --animate-duration: 2000ms;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 3000ms;
}
/* MEDIA QUERIES */

/* SCREEN SIZE XS */
@media screen and (max-width:575px){
    .callout{
        margin-top:5vw;
    }
    .header-nav a{
        margin-right:10px;
    }
    .callout-heading{
        letter-spacing:0;
        font-size:1.4rem;
    }
    /* Code below to fix the bug that made the underline 
    from center extend beyond the writing on XS screens */
    .nav-link{
        float:right;
    }
    .hvr-underline-from-center:before {
        margin:0;
    }
}
/* SCREEN SIZE SM and up */
@media screen and (min-width:576px){
    .about-lead-image{
        height:250px;
    }
    .contact-lead-image{
        height:250px;
    }
    .callout{
        margin-top:20px;
    }
}
/* SCREEN SIZE MD and up */
@media screen and (min-width:768px){
    .what-we-do-img{
        border-radius:20px;
        -webkit-box-shadow: 0 0 10px #b3b3b3;
                box-shadow: 0 0 10px #b3b3b3;
    }
    .gallery-carousel img {
        border-radius:20px;
    }
    .about-lead-image{
        height:300px;
    }
    .contact-lead-image{
        height:300px;
    }
}
/* SCREEN SIZE LG and up */
@media screen and (min-width:992px){
    .hero-image{
        height:550px;
    }
}
/* SCREEN SIZE XL and up */
@media screen and (min-width:1200px){
    .about-lead-image{
        height:350px;
    }
    .contact-lead-image{
        height:350px;
    }
    .hero-image{
        height:570px;
    }
    /* Code to move testimonial carousel 
    controls inwards on larger screens */
    .testimonial-carousel .carousel-control-next, 
    .testimonial-carousel .carousel-control-prev{
    width:50%;
    }
}
/* SCREENS SIZE XXL and up */
@media screen and (min-width:1400px){
    .callout{
        margin-top:30px;
    }
    .hero-image{
        height:600px;
    }
    .navbar-brand h1{
        font-size:2.2rem;
    }
    .nav-item a {
        font-size:1.4rem;
    }
    .about-lead-image{
        height:500px;
    }
    .contact-lead-image{
        height:500px;
    }
    .footer-nav .nav-item a{
        font-size:1.0rem;
    }
}
/* 1600px wide and up */
@media screen and (min-width:1600px){
    .hero-image{
        height:700px;
    }
}
/* Apple iMac 5K monitor */
@media screen and (min-width:1950px){
    .hero-image{
        height:900px;
    }
    .callout{
        margin-top:60px;
    }
    .about-lead-image{
        height:800px;
    }
    .contact-lead-image{
        height:800px;
    }
}

/* ----------404 PAGE---------- */
.lost-bg{
    /* CODE from https://css-tricks.com/perfect-full-page-background-image/ */
    background: #b8cdb7 url(../images/404-image.jpg) no-repeat center center ;
    background-size: cover;
     position:relative;
     height:100vh;
     width:auto;
}
.fzf-image-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.fzf-image {
    padding-top:10px;
    width:300px;
    height:auto;
}
.lost-text{
    position:absolute;
    text-align:center;
    color:#fffcf7;
    background-color:rgba(184, 205, 183, 0.80);
    padding:20px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top:40%;
    left:50%;
    border-radius:20px;
    min-width:300px;
    max-width:600px;
    border: 1px solid #3b3b3b;
}
.lost-text a {
    color:#3b3b3b; 
    font-size:120%;
    text-transform:uppercase;
}
.lost-text i{
    font-size:300%;
    padding:10px 0;
}
.lost-header{
    font-family:"Playfair Display", serif;
    text-transform:uppercase;
}